/* hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 10%;
}

body {
    background-color: rgb(201, 233, 186);
}
h1, h3 {
    color: #297dd6;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

h1 {
    color: #333;
    font-size: 36px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #0077cc;
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #07c;
    color: #fff;
}


button {
    background-color: #07c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #005fb3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p a {
    color: #fff;
    font-size: 14px;
}


/* Add responsive CSS here */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  table {
    display: block;
  }
  td {
    display: block;
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 24px;
  }
  ul {
    font-size: 16px;
  }
  table:nth-of-type(2),
  table:nth-of-type(3) {
    margin-top: 20px;
  }
}
